[project]
name = "astrbot-plugin-lb-provider"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
[dependency-groups]
dev = [
    "astrbot>=4.8.0",
]
